<!DOCTYPE html>
<!-- Template by html.am -->

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Server - Commands</title>
		
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'allStyle.css' %}"

	</head>
	
	<body>		
				
		<main>
			<div class="innertube">
				
				<h1>Server Commands</h1>
                <h3>Logging</h3>
                    <form action="/monitor/commands/F/" method="get">
                        <input type="submit" value="Force log">
                    </form>
                    <form action = "/monitor/commands/" method = "get">
                        <input type="radio" name="m" value="1">1 minute<br>
                        <input type="radio" name="m" value="5">5 minutes<br>
                        <input type="radio" name="m" value="10">10 minutes<br>
                        <input type="radio" name="m" value="15">15 minutes<br>
                        <input type="submit" value="Set log freq">
                    </form>
                <h2>{{error}}</h2>
                <h3>{{details}}</h3>
                
			</div>
		</main>
	
		<nav id="nav">
			<div class="innertube">
			
			<h3>Beers</h3>
			<ul>
				<li><a href="/monitor/chart/">Active Beer</a></li>
                {% for beer in all_beers %}
                {% if beer == active_beer %}
                    <b><li><a href="/monitor/chart/{{ beer.id }}/">{{ beer }}</a></li></b>                
                {% else %}
                    <li><a href="/monitor/chart/{{ beer.id }}/">{{ beer }}</a></li>
                {% endif %}
                {% endfor %}
			</ul>
			<h3>Options</h3>
			<ul>
                <li><a href="/monitor/dashboard/">Dashboard</a></li>
				<li><a href="/monitor/commands/">Commands</a></li>
				<li><a href="/admin/">Admin</a></li>
			</ul>
			</div>
		</nav>
	
	</body>
</html>